@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
}

.font-[poppins] {
  font-family: poppins;
}

.footer-bg {
  z-index: -1;
  width: 100%;

  position: absolute;
}
.bg-footer {
  width: 100%;

  margin: 36px 0 0;

  object-fit: contain;
}
.logos {
  width: 230.6px;
  height: 62.1px;
  object-fit: contain;
  padding-left: 692px;
}
.mobile_font {
  font-size: xx-small;
  font-weight: normal;
}
